<% articles.each do |article| %>
	<tr id="<%= article.id %>">
		<td><%= link_to article.title, article %></td>
		<td><%= article.status %></td>
		<td>
			<%= link_to 'Show', article %>
			<%= link_to 'Edit', edit_article_path(article) %>
			<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
			<%= form_for(article, method: :patch, remote: true) do |f| %>
				<div class="field">
					<% if article.sticked == true %>
						<%= f.hidden_field(:sticked, value: false) %>
					<% else %>
						<%= f.hidden_field(:sticked, value: true) %>
					<%end %>
				</div>
				<% if article.sticked == true %>
					<div class="actions sticked_button">
						<%= submit_tag "取消置顶" %>
					</div>
				<% else %>
					<div class="actions">
						<%= submit_tag "设置置顶" %>
					</div>
				<%end %>
			<% end %>
		</td>
	</tr>
<% end %>
