<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<%= link_to 'New Article', new_article_path %>
<%= render 'hide_form' %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Source url</th>
      <th>Title</th>
      <th>Status</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
		<div id="sticked_articles">
			<%= render partial: 'article_item', locals:{ articles:@stickedArticles } %>
		</div>
		<div id="none_sticked_articles">
			<%= render partial: 'article_item', locals:{ articles:@noneStickedArticles } %>
		</div>
  </tbody>
</table>

