<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<%= link_to 'New Article', new_article_path %>
<%= render 'hide_form' %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Source url</th>
      <th>Title</th>
      <th>Status</th>
      <th>Sticked</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
				<td><%= "#{article.source_url[0, 5]}..#{article.source_url[-5, 5]}" %></td>
        <td><%= link_to article.title, article %></td>
        <td><%= article.status %></td>
				<td>
					<%= form_for(article, method: :patch) do |f| %>
						<div class="field">
							<%= f.hidden_field :source_url, value: article.source_url %>
							<%= f.hidden_field(:title, value: article.title) %>
							<%= f.hidden_field(:text_content, value: article.text_content) %>
							<%= f.hidden_field(:local_audio, value: article.local_audio) %>
							<%= f.hidden_field(:audio_file_url, value: article.audio_file_url) %>
							<%= f.hidden_field(:status, value: article.status) %>
							<% if article.sticked == true %>
								<%= f.hidden_field(:sticked, value: false) %>
							<% else %>
								<%= f.hidden_field(:sticked, value: true) %>
							<%end %>
						</div>
							<% if article.sticked == true %>
								<div class="actions sticked_button">
									<%= submit_tag "取消保留" %>
								</div>
							<% else %>
								<div class="actions">
									<%= submit_tag "保留不删" %>
								</div>
							<%end %>
					<% end %>
				</td>
        <td><%= link_to 'Show', article %>
        <%= link_to 'Edit', edit_article_path(article) %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

