<p id="notice"><%= notice %></p>

<p>
  <strong>Source url:</strong>
  <%= @article.source_url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<% if (!@article.local_audio_url.nil? && !@article.local_audio_url.blank?) %>
	<audio class="article_audio" src="<%= @article.local_audio_url %>" controls="controls" >
	</audio>
<% else %>
	<div class="spinner">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
<% end %>

<p>
  <strong>Text content:</strong>
  <%= raw @article.text_content %>
</p>

<p>
  <strong>Audio file url:</strong>
  <%= link_to "Download file", @article.local_audio_url %>
  <%= @article.audio_file_url %>
</p>
<p>
  <strong>Status:</strong>
	<strong id="status" data-target-id=<%=@article.id%>><%= @article.status %></strong>
</p>
<% if(!@article.sentence_time.nil? && !@article.sentence_time.blank?) %>
	<script type="text/javascript">
		sentenceTimeArray = [<%= @article.sentence_time %>]
	</script>
<% end %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
