<!DOCTYPE html>
<html>
<head>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag %>
	<% #for 360browser %>
	<%= favicon_link_tag "favicon.ico", rel:"icon" %>
	<title>EzListen</title>
</head>
<body>

<%= yield %>

	<%= debug(params) if Rails.env.development? %>
</body>
</html>
